.cartitas{
    grid-column: 1 / -1;
   grid-row: 7 / -1;
   grid-template-columns:repeat(4, auto);
   grid-template-rows: repeat(4, auto);
   gap: 0rem;
   display: grid;
    
       flex-direction:column;
       justify-content: center;
       text-align: center;
       align-items: center;
       text-decoration: none;
       
   }
   @media only screen and (max-width: 600px) {
    .cartitas {
      grid-template-columns: auto;
    }
  }